@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Merriweather:ital,wght@0,300;1,300&family=PT+Sans&family=Playfair+Display&family=Poppins:wght@200&family=Sansita+Swashed:wght@300;400&display=swap');

/* ---------------------------------------------------------------------------- */

#details-main-content {
    margin: auto;
    font-family: 'Hubballi', cursive;
    margin-top: 4%;
    width: 90%;
    margin-left: 5%;
    display: inline-block;
    margin-bottom: 5%;
    color: black;
}
#details-photo {
    margin-left: 5%;
    width: 37%;
    height: 400px;
    float: left;
}
#details-photo img {
    width: 100%;
    height: 100%;
    transition: transform 100ms;
}
#details-photo img:hover {
    transform: scale(1.1);
}
#details-content {
    margin-left: 10%;
    width: 45%;
    float: left;
    font-size: 20px;
    color: black;
}
.details-content-dark {
    color: antiquewhite !important;
}
#details-heading-main {
    margin-top: 0;
    font-size: 40px;
}
.details-checked {
    color: red;
}
#details-content > h3 {
    margin-top: 2%;
}
#details-icons {
    width: 100%;
    display: inline-block;
    height: 68px;
    margin-bottom: 2%;
}
.details-icon {
    float: left;
    margin-right: 5%; 
    height: 60px;
}
.details-icon p {
    text-align: center;
}
.details-icon img {
    width: auto;
    height: 100%;
}
#details-isOpen {
    color: lightgreen;
    font-size: 34px;
}
.details-btn {
    /* background-color: #d5cbc9; */
    opacity: 0.8;
    padding: 2%;
    width: 40%;
    border: 1px solid blue;
    box-shadow: inset 0px 0px 8px 1px #ffffff;
}
.details-menuDisplay {
    margin-bottom: 20px;
    margin-top: 0;
}
.details-menuDisplay-dark {
    color: white;
}
.details-menu-items-down {
    margin-top: 0;
    margin-bottom: 0;
}
.details-menu-items-head-dark {
    box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
    padding: 1%;
    padding-left: 2%;
    margin-bottom: 1%;
}
.details-menu-items-list-dark {
    box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
    padding: 1%;
}
/* ---------------------------------------------------------------------------- */
@media screen and (max-width: 970px) {
    .details-icon img {
        height: 70px;
        width: 70px;
    }
}
@media screen and (max-width: 850px) {
    #details-photo {
        height: 344px;
    }
}
@media screen and (max-width: 780px) {
    #details-photo {
        height: 225px;
    }
    #details-heading-main {
        font-size: 31px;
    }
    .details-icon img {
        height: 50px;
        width: 50px;
    }
    #details-available {
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .details-btn {
        width: 46%;
    }

}