body {
    margin:auto;
}
/* header section styling */
#header {
    background-color: #de986f;
    width: 100%;
    height: 55px;
}
#icon {
    font-size: 15px;
    float: left;
    margin-left: 1%;
    margin-top: -0.5%;
}
#social {
    float: right;
    margin-right: 0.70%;
    margin-top: 0.3%;
}
#social img {
    height: 88%;
    width: auto;
}
#social a {
    text-decoration: none;
}
/* ---------------------------------------------------------------------------- */
p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#content {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}
#filter-div {
    float: left;
    width: 20%;
    height: 500px;
    border: 2px solid green;
}
#content-div {
    float: left;
    width: 77%;
    height: 700px;
    margin-left: 2%;
    border: 2px solid hotpink;
}
/* ---------------------------------------------------------------------------- */

/* footer styling */
#footer {
    /* background-color:cornflowerblue; */
    /* border: 6px dotted brown; */
    width: 100%;
    height: 120px;
    background-color: #e28b62;
}
p {
    text-align: center;
}
.footer-div {
    width: 33%;
    height: 60%;
    border-right: 2px solid black;
    float: left;
}
/* ---------------------------------------------------------------------------- */
