footer {
    background-color:#de986f;
    font-family: 'PT Sans', sans-serif;
    height: auto;
}
.footer-cols {
    min-height: 50px;
    padding: auto;
    background-color: #de986f;
    height: auto;   
}
.identity a {
    text-decoration: none;
    color: black;
}
.footer-cols div {
    border-right: 1px solid black;
}