@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Merriweather:ital,wght@0,300;1,300&family=PT+Sans&family=Playfair+Display&family=Poppins:wght@200&family=Sansita+Swashed:wght@300;400&display=swap');

/* header css */
header {
    background-color: lightcoral;
    height: 66px;
    width: 100%;
}
/* icon in header */
#icon {
    float: left;
    background-color: white;
    color: orange;
    margin-left: 4%;
    margin-top: 0.50%;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}
#icon a {
    text-decoration: none;
}
#icon > p {
    margin-top: 3%;
    font-size: 30px;
    cursor: pointer;        
    /* cursor: pointer; makes the pointer to change to hand on hovering over icon>p */
}
/* social links (header of the page) */
#account {
    float: right;
    margin-right: 1%;
    width: 18%;
    height: 100%;
}
#account p {
    display: inline-block;
    font-size: 18px;
    margin-top:6%;
}
#login {
    color: white;
    margin-right: 10%;
    cursor: pointer;
}
#create-account {
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
}

/* old css; of no use */
.icon {
    font-weight: bolder;
    font-size: 3vw;
}
.dark-mode {
    background-color: #333131;
    color: white;
}
.dark-header {
    background-color: black !important;
}
.navbar-img {
    height: 3.4vw;
    padding: auto;
    margin: 0;
}

.background-orange {
    background-color: #de986f !important;
}
@media screen and (max-width: 575px) {
    .navbar-img {
        display: block;
        margin: auto;
    }
}
