/* @import url('https://fonts.listing-googleapis.listing-com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Playfair+Display&family=Poppins:wght@200&family=Sansita+Swashed&display=swap'); */

/* main section css */
/* ********************************************************** */
#listing-main-section {
    display: inline-block;
    /* font-family: 'Playfair Display', serif; */
    font-family: serif;
    margin: auto;
    margin-left: 10%;
    margin-top: 1%;
    width: 88%;
}

.listing-main-section-dark,
.listing-main-section-dark a {
    color: white !important;
}

/* filter div css */
#listing-filter {
    float: left;
    box-shadow: 0px 3px 6px rgb(214 212 212);
    border-radius: 5px;
    width: 18%;
    margin-right: 3%;
    padding-left: 2%;
    margin-bottom: 3%;
    margin-top: 1%;
    /* line-height: 120%; */
    line-height: 1.5;
}

#listing-heading {
    font-size: 30px;
    font-weight: bold;
}

.listing-sub-heading>p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.listing-sub-heading>select {
    height: 4%;
    border: 1px solid #8C96AB;
    border-radius: 3px;
    color: #8C96AB;
}

#listing-filter label {
    display: inline-block;
    width: 100%;
    color: grey;
}

#listing-sort {
    margin-bottom: 30%;
}

#listing-sort>p {
    font-weight: bold;
}

/* cards css */
#listing-cards {
    display: inline-block;
    /* width: 70%; */
    width: 70%;
    height: auto;
    margin-top: 1%;
}

#listing-cards a {
    text-decoration: none;
    color: black;
}

hr {
    border: 0.5px solid #5a5858;
}

.listing-card {
    display: inline-block;
    padding: 2%;
    height: auto;
    /* width: 80%; */
    width: 100%;
    margin-left: 5%;
    box-shadow: 0px 3px 6px rgb(214, 212, 212);
    margin-bottom: 4%;
    transition: transform 500ms;
}

.listing-card:hover {
    transform: scale(1.1);
}

.listing-image {
    float: left;
    width: auto;
    height: 150px;
    margin-left: 2%;
    margin-top: 2%;
}

.listing-image>img {
    width: 90%;
    height: 100%;
    border-radius: 25px;
}

.listing-content {
    float: left;
    margin-left: 3%;
    line-height: 1.2;
    width: 48%;
}

.listing-content-heading {
    font-size: 30px;
    font-weight: bold;
}

.listing-content-subheading1 {
    font-size: 20px;
    font-weight: bold;
}

.listing-card-upper {
    display: inline-block;
    width: 90%;
    /* margin-bottom: 2%; */
}

.listing-text-below-img {
    width: 38%;
    float: left;
}

.listing-text-below-content {
    width: 50%;
    float: left;
}

.listing-card-below {
    margin-top: -1%;
}

.listing-place {
    width: inherit;
}

/* navigation style */
#listing-navigation {
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#listing-navigation div {
    display: inline-block;
    padding: 1.4%;
    border: 1px solid grey;
    border-radius: 5px;
}

#listing-nav1 {
    background-color: rgb(210 204 196);
}

#listing-navigation a {
    text-decoration: none;
    color: black;
}

/* ********************************************************** */

/* responsiveness */
@media screen and (max-width: 1200px) {
    #listing-main-section {
        width: 88%;
    }

    #listing-filter {
        float: left;
        width: 27%;
    }

    #listing-cards {
        width: 61%;
    }

    .listing-card {
        width: 100%;
        margin-bottom: 7%;
    }

    .listing-card-upper {
        width: 100%;
    }

    .listing-image {
        float: none;
    }

    .listing-content {
        float: none;
        text-align: center;
        width: auto;
        line-height: 1;
    }
}

@media screen and (max-width: 750px) {

    .listing-text-below-content>p>span,
    .listing-text-below-img>p {
        font-size: 0.8rem;
    }

    .listing-item-price {
        margin-top: 1.8rem !important;
    }

    .listing-text-below-img {
        margin-left: 3%;
    }

    #listing-filter {
        float: left;
        width: 35%;
    }

    #listing-main-section {
        margin-left: 9%;
    }

    #listing-cards {
        width: 53%;
    }

    #listing-heading {
        font-size: 26px;
    }

    #listing-main-section>h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 700px) {
    #listing-main-section {
        margin-left: 5%;
    }

    #listing-cards {
        width: 60%;
    }

    .listing-text-below-img {
        width: 30%;
    }

    .listing-text-below-content {
        width: 65%;
    }
}

@media screen and (max-width: 450px) {
    .listing-item-price {
        margin-top: 3.6rem !important;
    }

    #listing-heading {
        font-size: 26px;
    }

    #listing-main-section>h1 {
        font-size: 28px;
    }

    .listing-content {
        font-size: 0.8rem;
    }

    .listing-content-heading {
        font-size: 1.4rem;
    }

    .listing-content-subheading {
        font-size: 1rem;
    }

    .listing-text-below-content>p>span,
    .listing-text-below-img>p {
        font-size: 0.6rem;
    }

    .listing-text-below-img {
            width: 35%;
    }

    .listing-text-below-content {
            width: 60%;
    }
    #listing-filter {
        font-size: 0.6rem;
    }
    .listing-card-cuisines {
        margin-top: 2.3rem !important;
    }
}

@media screen and (max-width: 350px) {
    .listing-card-cuisines {
        margin-top: 3.3rem !important;
    }
    .listing-text-below-img {
        width: 40%;
    }
    .listing-text-below-content {
        width: 46%;
    }
    #listing-main-section>h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

/* responsiveness added till 320px */