.login-dark {
    background-color: #93bbba  !important;
}
.login-heading-dark {
    background-color: #788b78 !important;
}
.register-dark {
    background-color: #93bbba  !important;
}
.register-heading-dark {
    background-color: #615c81 !important;
}
.login-button {
    margin: 2% 0 2% 80%;
}
@media screen and (max-width:772px) {
    .login-button {
        margin: 2% 0 2% 70%;
    }
}