.quick-main {
    width: 100%;
}

.quick-search {
    margin-top: -5%;
}

.quick-search-dark {
    background-color: #3c3c3c !important;
}

.quick-heading,
.quick-description {
    margin-left: 2%;
}

.quick-heading {
    color: orange;
}

.quick-description {
    color: lightseagreen;
    font-size: 1em;
}

.quick-tile-container {
    display: inline-block;
    min-height: 180px;
    /* border: 1px solid black; */
    box-shadow: 10px 20px 40px grey;
    border-radius: 25px;
    margin-left: 4%;
    transition: 0.7s;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
/* width: 30%; */
}

.quick-tile-container:hover {
    transform: scale(1.1);
}

.quick-tile-container-dark {
    box-shadow: 10px 20px 40px black !important;
}

.quick-tile-component1 {
    width: 40%;
    height: 100%;
    float: left;
    background-color: transparent !important;
}

.quick-tile-component1>img {
    width: auto;
    height: inherit;
    border-radius: 25px 0 0 25px;
}

.quick-tile-component2 {
    width: 60%;
    height: 100%;
    float: left;
}

.quick-tile-component2-dark {
    background-color: #2e2a2a !important;
    border-radius: 0 10% 10% 0;
}

.quick-component2-heading {
    font-size: 25px;
    color: orange;
}

.quick-component2-subheading {
    color: grey;
}

@media screen and (min-width: 990px) {
    .quick-tile-container {
        width: 27%;
    }
}

@media screen and (max-width: 990px) {
    .quick-tile-container {
        min-height: 15vw;
        height: 20vw;
        /* width: auto; */
        width: 40%;
        margin: auto;
    }
}

@media screen and (max-width: 770px) {
    .quick-tile-container {
        /* height: 100px; */
        height: 29vw;
        width: 80%;
    }
}