.quick-main {
    width: 100%;
}

/* .quick-search {
    margin-top: -5%;
} */

.quick-search-dark {
    background-color: #3c3c3c !important;
}

.quick-heading,
.quick-description {
    margin-left: 2%;
}

.quick-heading {
    color: orange;
}

.quick-description {
    color: lightseagreen;
    font-size: 1em;
}

.quick-tile-container {
    display: inline-block;
    min-height: 180px;
    /* border: 1px solid black; */
    box-shadow: 10px 20px 40px grey;
    border-radius: 25px;
    margin-left: 4%;
    transition: 0.7s;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    /* width: 30%; */
}

.quick-tile-container:hover {
    transform: scale(1.1);
}

.quick-tile-container-dark {
    box-shadow: 10px 20px 40px black !important;
}

.quick-tile-component1 {
    width: 40%;
    height: 100%;
    float: left;
    background-color: transparent !important;
}

.quick-tile-component1>img {
    width: auto;
    height: inherit;
    border-radius: 25px 0 0 25px;
}

.quick-tile-component2 {
    width: 60%;
    height: 100%;
    float: left;
}

.quick-tile-component2-dark {
    background-color: #2e2a2a !important;
    border-radius: 0 10% 10% 0;
}

.quick-component2-heading {
    font-size: 1.6rem;
    color: orange;
}

.quick-component2-subheading {
    color: grey;
}


/* responsiveness */

@media screen and (min-width: 990px) {
    .quick-search {
        margin-top: -4%;
    }

    .quick-tile-container {
        width: 27%;
    }
}

@media screen and (max-width: 1180px) {
    #logo {
        margin-left: 21%;
    }
}

@media screen and (max-width: 990px) {
    .quick-tile-container {
        min-height: 15vw;
        height: 20vw;
        width: 40%;
        margin: auto;
    }

    #heading {
        font-size: 3rem;
    }

    .quick-component2-heading {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 800px) {
    #heading {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 770px) {
    .quick-tile-container {
        height: 20vw;
        width: 80%;
    }

    #logo {
        height: 8rem;
        width: 8rem;
        margin-left: 32%;
    }

    #logo>span {
        font-size: 4.8rem;
    }

    .dropdown-enhancement>select {
        font-size: 1.3rem !important;
        margin-right: 3% !important;
    }

    .quick-heading {
        font-size: 2rem;
    }

    .quick-tile-container-dark {
        box-shadow: 6px 11px 10px black !important;
    }
}

@media screen and (max-width: 700px) {
    #logo {
        margin-left: 33%;
    }

    .food-img {
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 650px) {

    /* .dropdown-enhancement>select {
        display: inline-block;
        margin-bottom: 2% !important;
    } */
    #heading {
        font-size: 2rem;
    }

    .quick-tile-container {
        height: 23vw;
        width: 75%;
    }
}

@media screen and (max-width: 610px) {
    #logo {
        float: left;
        margin-left: 12rem !important;
    }

    .dropdown-enhancement>select {
        display: inline-block;
        margin-bottom: 3% !important;
    }
}

@media screen and (max-width: 550px) {
    .quick-tile-container {
        height: 30vw;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        margin-left: 30% !important;
    }

    .weather {
        display: none;
    }

    .icon {
        height: 45px;
        width: 45px;
    }

    .icon>p {
        font-size: 1.5rem;
    }

    .quick-tile-container {
        height: auto;
        width: 53%;
    }

    .quick-tile-component1 {
        width: auto;
        display: block;
    }

    .quick-tile-component2 {
        width: auto;
        display: block;
    }

    .dropdown-enhancement>select {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 350px) {

    #dark-mode {
        font-size: 1.2rem;
    }

    #login {
        font-size: 0.9rem;
    }

    #create-account {
        font-size: 0.8rem;
    }
    .copyright a {
        font-size: 1rem;
    }
}

/* responsiveness till 300px achieved on home page */