
.food-img{
    background-image: url(/src/image/food-wallpaper.png);
    background-repeat: no-repeat;
    background-size: 100% 80%; 
}
.food-img-dark {
    background-color: #3c3c3c;
}

#logo {
    background-color: rgba(255, 255, 255, 0.575);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 15%;
    /* either of these properties can solve the problem */
    /* what problem? comment both of these */
    /* position: absolute; */
    /* display: inline-block is better (allows bootstrap to work on) */
    display:inline-block;
    font-family: 'Sansita Swashed', cursive;
    cursor: pointer;
}
.logo-dark {
    background-color: rgb(30 29 29 / 57%) !important;
    color: white !important;
    /* border-radius: 50% !important; */
}
#logo > span {
    /* display: inline-block; */
    /* margin-top: 3%; */
    /* margin-left: 19%; */
    font-size: 5.8rem;
}
#heading {
    display: inline-block;
    /* position: absolute; */
    /* margin-top: 12%; */
    /* margin-left: 24%; */
    color: white;
    font-size: 3.8rem;
}
.dropdown-toggle-dark {
    color: white !important;
    background-color: rgb(86 86 82) !important;
    border: rgb(195, 193, 163) !important;
}
.dropdown-enhancement {
    left: 2%;
}
.dropdown-enhancement button, .dropdown-enhancement ul {
    font-size: 1.7vw;
    background-color: #c3c1a3;
    border: #c3c1a3;
    font-family: 'Hubballi', cursive;
    margin-bottom: 5%;
    margin-right: 1%;
}
.dropdown-enhancement button {
    border-radius: 15px;
}

/* responsiveness */
@media screen and (max-width: 1150px) {
    .food-img {
        background-size: 100% 90%; 
    }
}